[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autohooks = "*"
autohooks-plugin-black = "*"
autohooks-plugin-pylint = "*"

[packages]
django = "*"

[requires]
python_version = "3.6"
